<div class=bio>
    <h1 class="word-carousel">
        <span>Hi, I'm</span>
        <div>
            <ul class="flip2">
                <li>Michael</li>
                <li>何浚熙</li>
            </ul>
        </div>
    </h1>
</div>